@import '~antd/dist/antd.css';

.page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page-layout {
  width: 100%;
  height: 100%;
  padding: 5px 5px 5px 5px;
}

.header-footer {
  background: lightblue;
}

.content {
  background: darkblue;
}

.sidebar {
  background: palevioletred;
}

.page-layout .content {
  padding: 5px 5px 5px 5px;
}
