@import '~antd/dist/antd.css';

.map-header {
  width: 100%;
  height: 100%;
}

.right-header-section {
  justify-content: flex-end;
}

.map-header,
.right-header-section,
.left-header-section {
  display: flex;
}

.left-header-section,
.right-header-section {
  width: 50%;
  align-items: center;
}

.dashboard-button {
  font-weight: bold;
}
